body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    background-color: #262626;
}

.conteúdo-cabeçalho {
    display: flex;
    max-width: 981px;
    height: 156px;

}

.cabeçalho h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cabeçalho .destaque {
    color: #e62e2e;
}

.cabeçalho p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-cadastro {
    padding: 10px 20px;
    background-color: #e62e2e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-cadastro:hover {
    background-color: #c82626;
}

.imagem-cabeçalho img {
    max-width: 100%;
    border-radius: 10px;
}

.serviços {
    text-align: center;
    padding: 50px 30px;
}

.serviços h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.container-serviços {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartão-serviço {
    background-color: #333;
    padding: 20px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.cartão-serviço:hover {
    transform: translateY(-10px);
}

.cartão-serviço h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.cartão-serviço button {
    padding: 10px 20px;
    background-color: #e62e2e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.cartão-serviço button:hover {
    background-color: #c82626;
}
